.formulaire{
    h2{
        text-align: center;
    }
    #formulaire{
        width: 50%;
        margin: auto;

        input,textarea{
            width: 90%;
            margin: 10px 0px 10px 0px;
        }

    }
}