.formulaire{
    h2{
        text-align: center;
    }
    #formulaire{
        width: 50%;
        margin: auto;
        background-color:#436976;
        border-radius: 20px;
        padding: 20px;

        input,textarea{
            width: 90%;
            margin: 10px 0px 10px 0px;
        }

    }
}