
body{
    margin: 0px;
    background-color:#87acbc;
}

h1{
    color: white;
    font-size: 50px;
    z-index: 3;
    top: 50px;
    text-align: center;
}

#banner{
    background-image: url('/image/11869.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment:fixed;
    height: 400px;

    .fa-bars{
        color: white;
        left: 95%;
        top: 10px;
        z-index: 2;
    }
    .fa-arrow-left{
        color: white;
        left: 10px;
        top: 10px;
        z-index: 2;
    }
}

#presentation, #parcours{
    //background-color: #87acbc6b;

    h2{
        color:  rgba(24,52,68,1);
        margin: none;
    }

    .etape{
        background-color: #e8ecf0;
        border-radius: 10px;
        //width: 80%;
        padding: 8px;
        margin: 25px;
        box-shadow: 10px 10px 10px #3b291b;
        p{
            text-align: justify;
        }

        h3{
            color:rgba(24,52,68,1);
        }
    }
}

footer{
    background-color: rgba(24,52,68,1);
}

