

html,body{
    margin: 0px;
    //height: 100%;
    font-family: 'Roboto';

    h1{
        font-size: 40px;
        margin: 0px;
        color:#035f81;
        font-family: 'Roboto-Thin';
        text-align: center;
    }
    #sous-titre{
        font-size: 16px;
        padding: 5px;
        color: white;
        font-family: 'Roboto-thin';
        text-align: center;
        margin: 0px;
        background-color:#035f81;

        .strong{
            font-family: 'Roboto-Bold';
            color: white;
        }
    }

    .first-contact{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .btn-first-contact{
            background-color: white;
            border: white solid 1px ;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0px 0px 20px 9px #035f81;
            -webkit-box-shadow: 0px 0px 20px 9px #035f81;
            -moz-box-shadow: 0px 0px 20px 9px #035f81;
            a{
                text-decoration: none;
                color: #035f81;
                font-family: 'Roboto-thin';
                font-weight: bold;
            }
        }
    }


    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px 0px 10px;

        .fa-envelope{
            color:#035f81;
            font-size: 25px;
            &:hover{
                transform: scale(1.1);
            }
        }
        #logo-exmes{
            width: 75px;
            height: 75px;
        }
    }

    #banner{
        height: 100% !important;
        width: 100%;

        img{
            object-fit: cover;
            height: 450px;
            width: 100%;
        }
    }

   #presentation{
    h2{
        font-family: 'Roboto-Thin';
        font-size: 35px;
        color: #035f81;
        text-align: center;
    }
    #introduction{
        padding:4%;
        text-align: justify;
    }
}
    #parcours{
        h2{
            color: #035f81;
            font-size: 30px;
            padding-left: 20px;
            font-family: 'Roboto-Thin';
        }
    }
    #etapes{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

        h3{
            color: black;
        }
        .etape{
            border-radius: 10px;
            width: 30%;
            height: 450px;
            overflow: auto;
            margin: 20px 0 20px 0px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

            h3{
                text-align: center;
            }

            img{
                width: 100%;
                height: 40%;
                object-fit: cover;
            }
            p{
                text-align: justify;
                padding: 5px;
                height: auto;
            }
        }
    }

    #footer{
        font-family: 'Roboto-Thin';
        display: flex;
        flex-direction: column;
        background-color: #035f81;
        color: white;
        padding: 7px;
         .mentions{
            display: flex;
            justify-content: space-around;

        }
        .address{
            text-align: center;
        }

        a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    /* ANIMATION BOUTON */

    .pulsate-fwd {
        -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
                animation: pulsate-fwd 2s ease-in-out infinite both;
    }

    @-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
    }


    @keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        }
    }
}